/*
 * Fix
 * Version 0.1.1
 * Originally based off https://github.com/jaydenseric/Fix
*/

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: 1;
}
html, body {
  height: 100%;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}